snippet #! "Node shebang" b
#!/usr/bin/env node
endsnippet

snippet fun "Function"
function ${1:name}(${2:arguments}) {
	${0}
}
endsnippet

snippet func "Function"
function ${1:name}(${2:arguments}) {
	${0}
}
endsnippet

snippet ed "Default export" d
export default ${1};
endsnippet
